

  html, body {
    margin:0;
    padding:0;
  background-image: url('Assets/tictactoeBackground.gif');
}
h1 {
    margin:0;
}


  
  ol, ul {
    padding-left: 30px;
  }
  
  /*.board-row:after {
    clear: both;
    content: "";
    display: table;
  }*/
  
  .status {
    margin-bottom: 10px;
  }
  
  html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}