.square {
    background: rgba(33,35,56,1);

    border: 1px solid;
    float: right;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
    border-width: 3px;
  border-style: solid;
 
  }

  @media only screen and (max-width: 600px) {
    .square {
        height: 80px;
        width:  80px;
    }
  }

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

